<% provide(:title, "Home") %>
<div class="center jumbotron">
  <% if @referral_org_logo_link.present? %>
    <h1>
      <%= image_tag @referral_org_logo_link, class: "splashlogo" %>
    </h1>
    <h4>
      <%= @referral_org_description.html_safe %>
    </h4>
  <% else %>
    <h1>
      <%= image_tag 'vocalvoters_logos/vocalvoters-beta.png', class: "splashlogo" %>
    </h1>
    <h2>
      Share Your Opinion With Your Representatives<br>
      <small>
	Send a Letter or Fax in 30 Seconds or Less
      </small>
    </h2>
  <% end %>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_with url: govlookup_path, data: { turbo:false }, method: :get do |form| %>
      <div class="row" id="address_form">
	<div class="col-md-3">
	  <div id='name_container' class="form-group" >
	    <%= form.text_field :name,
		placeholder: 'Your Full Name',
		class: 'form-control' %>
	  </div>
	</div>
	<div class="col-md-3">
	  <div id='email_container' class="form-group" >
	    <%= form.text_field :email,
		placeholder: '@Email',
		class: 'form-control' %>
	  </div>
	</div>
	<div class="col-md-6">
	  <div id='address_container' class="form-group" >
	    <%= form.text_field :address,
		placeholder: 'Address: 123 Street Address, ST 11111',
		class: 'form-control' %>
	  </div>
	</div>
      </div>
     <% end %>
     <div class='row'>
       <div class="col-md-4 col-md-offset-4">
	 <center>
	   <%= button_tag 'Contact Legislators',
	       id: 'legislator_button',
	       data: { disable_with: "Please wait..." },
	       class: "btn btn-info" %>
	 </center>
	 <span id="privacy_terms_box">
	   <center>
	     <br><br>
	     <small>
	       <%= link_to "Privacy Policy", privacy_path, target: "_blank" %>
	       &
	       <%= link_to "Terms of Use", terms_path, target: "_blank" %>
	     </small>
	   </center>
	 </span>
       </div>
     </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div id="legislator_selection"></div>
  </div>
</div>

<div class="row" >
  <div class="col-md-8 col-md-offset-2" id="concerns_selection">
    <br>
    <br>
    <h3>
      <center>
	<b>Enter Your Concerns</b><br>
	<small>
	  What do you want to write your representative(s) about?<br>
	</small>
      </center>
    </h3>

    <div class="row" id="concerns_generation_form">
      <div class="col-md-2"></div>
      <div class="col-md-8">
	<div id='generation_container' class="form-group" >
	  <input id="topic_search_bar" class="form-control"
		 placeholder='Please, fix the highway roads',
		 type="text"><br>
	  <center>
	    <%= button_tag 'Generate Letter',
		id: 'generate_letter_button',
		data: { disable_with: "Please wait..." },
		class: "btn btn-primary" %>
	    <span id="shared_letter_id"
		  value=<%= @shared_letter_id %>></span>
	    <br>
	    <small>
	      <i>
		Get an AI generated letter in seconds
	      </i>
	    </small>
	  </center>	
	</div>
      </div>
    </div>
    <div id="concerns_selection_bottom_buffer">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>    
    </div>
  </div>
</div>

<div class="row">  
  <div class="col-md-6 col-md-offset-3" id="communications_selection">
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-12">
	<h3>
	  <center>
            <b>Send Concerns via</b><br>
            <small id='price_description'>
              ( Per: $5 Priority / $3 Regular / $2 Fax + $2 Review)
            </small>
	  </center>
	</h3>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-10 col-md-offset-1">
	<div class="col-md-4">
	  <center>
            <%= button_tag 'Priority Mail', id: 'priority',
		class: 'btn btn-info send_button recommended' %><br>
            <small>
              <span id="priority_price">0</span><br>
	      <b>Max Impact</b><br>
	      5-7 Days
            </small>
	  </center>
	</div>
	<div class="col-md-4">
	  <center>
            <%= button_tag 'Regular Mail', id: 'letter',
		class: 'btn btn-info send_button' %><br>
            <small>
              <span id="letter_price">0</span><br>
	      <b>High Impact</b><br>
	      14-21 Days
            </small>
	  </center>
	</div>
	<div class="col-md-4">
	  <center>
            <%= button_tag 'Send Fax', id: 'fax',
		class: 'btn btn-info send_button' %><br>
            <small>
	      <span id="fax_price">0</span><br>
	      <b>Moderate Impact</b><br>
	      Immediate
	    </small>
	  </center>
	</div>
	<div class="col-md-4" style="display:none;">
	  <center>
            <%= button_tag 'Email', id: 'email',
		class: 'btn btn-info send_button' %>
            <small>
	      (Coming Soon <span id="email_price"></span>)<br>
	      Immediate
	    </small>
	  </center>
	</div>
      </div>
    </div>
  </div>
</div>


<div id="signature_container" class="row" style="display:none;">
  <h3>
    <br><br>
    <center>
      <b>Make it Personal & Sign the Letter</b>
    </center>
  </h3>
  <div id="signature-pad-box" class="col-md-6 col-md-offset-3">
    <center>
      <canvas id="signature-pad" class="signature-pad"
	      width=300 height=120 ></canvas>
      <span id="signature-data"></span>
    </center>
  </div>
  
  <div class="signature-pad-footer">
    <div class="col-md-4 col-md-offset-4">
      <div class="description">
	Sign Above (Optional)
      </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4 col-md-offset-4">
      <center>

	<%= button_tag 'Submit',
	    id: 'submit-signature',
	    data: { disable_with: "Please wait..." },
	    class: "btn btn-primary" %>
	
	<%= button_tag 'Skip Signature',
	    id: 'skip-signature',
	    data: { disable_with: "Please wait..." },
	    class: "btn btn-info" %>

	<%= button_tag 'Clear',
	    id: 'reset-signature',
	    data: { disable_with: "Please wait..." },
	    class: "btn btn-default" %>
      </center>
    </div>
  </div>
</div>

<div id="payment_container" class="row">
  <br>
  <br>
  <br>
  <div class="col-md-6 col-md-offset-3">
    <br>
    <br>
    <h3>
      <center>
	<b>
	  Pay
	  <span id="price_to_send"></span>
	  to Send
	  <span id="communication_mode", value=""></span>
	</b>
	<br>
      </center>
    </h3>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <div id="payment_info">
      <form id="payment-form" data-turbo="false">
	<div id="card-element"><!--Stripe.js injects the Card Element--></div>
	<button id="submit">
	  <div class="spinner hidden" id="spinner"></div>
	  <span id="button-text">Pay now</span>
	</button>
	<p id="card-error" role="alert"></p>
	
	<p>
	  <div class="result-message hidden">
	    <center>
	      Payment succeeded!<br>
	      We will send a confirmation email shortly.
	      <br>
	    </center>
	  </div>
	</p>
	<p>
	  <small>
	    By clicking "Pay Now" you agree to our <%= link_to 'terms', terms_path %>. Note: We are a for-profit business and pay referral fees to partners, these are not tax deductible.
	  </small>
	</p>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div id="iframe_container" class="col-md-8 col-md-offset-2">
    <h3>
      <br>
      <small>
	<b>
	  <div class="col-md-4">
	    <div style="vertical-align:center;">
	      <b style="float:left;padding:0.2em 0.2em 0.2em 0.2em;margin: 0.1em 0.1em 0.1em 0.1em">
		Sample Letter
	      </b>
	    </div>
	  </div>
	  <div class="col-md-4">
	    <div id="share_container" style="vertical-align:center;">
	      <center>
		<b>Click to</b>
		<%= button_tag 'Edit Letter', id: 'edit-letter',
		    style: "font-size:0.8em;padding:0.2em 0.2em 0.2em 0.2em;margin:0.1em 0.1em 0.1em; 0.1em;",		    
		    class: "btn btn-secondary" %>
		
		<%= button_tag 'Share Letter', id: 'share_button',
		    		    style: "font-size:0.8em;padding:0.2em 0.2em 0.2em 0.2em;margin:0.1em 0.1em 0.1em; 0.1em;",
		    class: 'btn btn-default' %>
	      </center>
	    </div>	    
	  </div>
	  <div class="col-md-4">
	    <div style="vertical-align:center;">
	      <span id="referral_org_id"
		    style="padding:0.2em 0.2em 0.2em 0.2em;margin: 0.1em 0.1em 0.1em 0.1em;float:right;white-space:nowrap;display:none"		    
		    value=<%= @referral_org_id %>><%= @referral_org_name %></span>
	    </div>
	  </div>
	</b>
      </small>
    </h3>
    <iframe id="pdf_view" style="border:none;margin-top:0.5em;"></iframe>
  </div>
</div>

<div id="letter-edit-modal" class="edit-modal">
  <div class='col-md-6 col-md-offset-3'>
    <div class="edit-modal-content">
      <span id="letter-edit-close" class="close">&times;</span>
      <div class="col-xs-12">
	<h4>
	  <center><b>Edit Your Letter</b></center>
	  <hr>
	</h4>
      </div>
      <div class="col-xs-12">
	<div class="col-sm-6">
	  <b><small>Sentiment</small></b>
	  <%= select_tag "edit-letter-sentiment",
	      options_for_select([
	      ["Support", 1],
	      ["Oppose", -1]
	      ]), class: "form-control" %>
	</div>
	<div class="col-sm-6">
	  <b><small>Subject</small></b>
	  <input id="edit-letter-category" class="form-control" type="text"><br>
	</div>
      </div>
      <div class="col-xs-12">
	<b><small>Letter Body</small></b>
      </div>
      <textarea id="edit-letter-body"></textarea>
      <center>
	<%= button_tag 'Submit Changes',
	    id: 'letter_change_button',
	    data: { disable_with: "Please wait..." },
	    class: "btn btn-primary" %>
	<%= button_tag 'No Changes',
	    id: 'no_letter_change_button',
	    data: { disable_with: "Please wait..." },
	    class: "btn btn-info" %>	
      </center>
    </div>
  </div>        
</div>

<span id="current_user_id" value="<%= @current_user_id %>"></span>
<span id="stripe_pk" value="<%= @stripe_pk %>"></span>
<% content_for :head do %>
  <%= javascript_import_module_tag "custom/landing_page" %>
  <%= javascript_import_module_tag "custom/letters" %>
<% end %>

