<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <span id="sender_line_1" value="<%= @sender_line_1 %>"></span>
    <span id="sender_line_2" value="<%= @sender_line_2 %>"></span>
    <span id="sender_city" value="<%= @sender_city %>"></span>    
    <span id="sender_state" value="<%= @sender_state %>"></span>
    <span id="sender_zipcode" value="<%= @sender_zipcode %>"></span>
    <span id="sender_country" value="<%= @sender_country %>"></span>
    
    <span id="sender_county" value="<%= @sender_county %>"></span>    
    <span id="sender_address" value="<%= @sender_address %>"></span>
    <span id="sender_district_federal" value="<%= @sender_district_federal %>"></span>
    <span id="sender_district_representative"
	  value="<%= @sender_district_representative %>"></span>
    <span id="sender_district_senate"
	  value="<%= @sender_district_senate %>"></span>
    <span id="address_accuracy" value="<%= @address_accuracy %>"></span>    
  </div>
</div>


<div class="row">
  <div class='col-md-12'>
  <h3>
    <center>
      <br>
      <br>
      <br>
      <br>
      <b>Select Representatives(s)</b><br>
      <small id="displayed_address" class="<%= @accuracy_class %>">
	<span><%= @sender_line_1 %> <%= @sender_line_2 %>
	<%= @sender_city %>, <%= @sender_state %> <%= @sender_zipcode %></span>
	<% if @accuracy_class.present? %>
	   <br><small>Review Address, Potentially Inaccurate</small>
	<% end %>
      </small>
    </center>
  </h3>
  <% federal_flag = false %>
  <% state_flag = false %>
  <% for recipient in @recipients %>
     <% if recipient.level == 'federal' and not federal_flag %>
       <h3>
	 <small>
	   <b>Federal Representatives</b>
	   <span style="font-size:0.8em">(Select Multiple)</span>
	 </small>
       </h3>
       </div>
       <% federal_flag = true %>
     <% elsif recipient.level != 'federal' and not state_flag %>
        <div class='col-md-12'>
          <h3>
	    <small>
	      <b>State Representatives</b>
	      <span style="font-size:0.8em">(Select Multiple)</span>
	    </small>
	  </h3>
	</div>
	<% state_flag = true %>
     <% end %>
     <div class="col-md-4">
       <%= render recipient, :layout => false %>
      </div>
  <% end %>
</div>
