<%= form_with(model: fax) do |form| %>
  <% if fax.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fax.errors.count, "error") %> prohibited this fax from being saved:</h2>

      <ul>
        <% fax.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number_fax %>
    <%= form.number_field :number_fax %>
  </div>

  <div class="field">
    <%= form.label :sender_id %>
    <%= form.text_field :sender_id %>
  </div>

  <div class="field">
    <%= form.label :recipient_id %>
    <%= form.text_field :recipient_id %>
  </div>

  <div class="field">
    <%= form.label :letter_id %>
    <%= form.text_field :letter_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
