<p id="notice"><%= notice %></p>

<p>
  <strong>Number fax:</strong>
  <%= @fax.number_fax %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @fax.sender_id %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @fax.recipient_id %>
</p>

<p>
  <strong>Letter:</strong>
  <%= @fax.letter_id %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @fax.payment_id %>
</p>

<%= link_to 'Edit', edit_fax_path(@fax) %> |
<%= link_to 'Back', faxes_path %>
