<p id="notice"><%= notice %></p>

<h1>Letters</h1>

<table>
  <thead>
    <tr>
      <th>Organization</th>
      <th>Category</th>
      <th>Policy or law</th>
      <th>Sentiment</th>
      <th>Editable</th>
      <th>Body</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @letters.each do |letter| %>
    <tr>
      <td><%= letter.organization.name %></td>
        <td><%= letter.category %></td>
        <td><%= letter.policy_or_law %></td>
        <td><%= letter.sentiment %></td>
	<td><%= letter.editable %></td>
        <td><%= letter.body %></td>
        <td><%= link_to 'Show', letter %></td>
        <td><%= link_to 'Edit', edit_letter_path(letter) %></td>
        <td><%= link_to 'Destroy', letter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Letter', new_letter_path %>
