<style>
  
  <% if @template.present? %>
    .from {
      display: block;
      padding-top: 2em;
      min-height: 8em;
      font-size: 1.1em;
    }
    .to {
      display: block;
      padding-top: 4em;
      min-height: 15em;
      font-size: 1.1em;
    }
    .recipient { display: none }
  <% else %>
    .to {
      display: block;
      padding-top: 4em;
      min-height: 10em;
      font-size: 1.1em;
    }
  <% end %>

  .sender { display: none; }  
  .main {
      font-size: 1.1em;
  },
</style>

<div class="from">
  <div class="sender">
  </div>
</div>
<div class="to">
  <div class="recipient">
    <%= @recipient_position %> <%= @recipient_name %><br>
    <%= @recipient_location %><br>
    <% if @recipient.present? %>
      <%= @recipient.address_line_1 %><br>
      <%= @recipient.address_line_2 %>
      <%= @recipient.address_city %> <%= @recipient.address_state %>,
      <%= @recipient.address_zipcode %>
    <% end %>
  </div>
</div>

<div class="main">
  <p>
    <%= @recipient_name %>,
  </p>
  
  <p>
    My name is <%= @sender_name %> and I am writing to express that I 
    <b><%= @sentiment %> <%= @letter.category %></b>.
  </p>
  
  <%= simple_format(@letter.body) %>
  
  <p>
    Thank you,
    <br>
    <% if @sender_signature.present? %>
      <img src="data:image/jpeg;<%= @sender_signature %>" />
    <% end %>
    <br>    
    <%= @sender_name %><br>
    <%= @sender_address_line_1 %><br>
    <% if @sender_address_line_2.present? %>
        <%= @sender_address_line_2 %><br>
    <% end %>
    <%= @sender_address_city %>  <%= @sender_state %>,
    <%= @sender_address_zipcode %><br>
    <%= @sender_region %>
  </p>
</div>

<footer>
  <center>
    <small>
    </small>
  </center>
</footer>
