<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @letter.category %><br>
  <strong>Policy or law:</strong>
  <%= @letter.policy_or_law %><br>
  <strong>Target Level:</strong>
  <%= @letter.target_level %><br>
  <strong>Target State:</strong>
  <%= @letter.target_state %><br>
  <strong>Editable by Sender:</strong>
  <%= @letter.editable %><br>
  <strong>Organization:</strong>
  <% if @letter.organization.present? %>
    <%= @letter.organization.name %>
  <% else %>
    No Organizational Affiliation
  <% end %>
  </p>
<p>
  <b>Share Button:
    <%= button_tag 'Copy Link',
	id: 'share_button',
	style: "font-size:0.8em;padding:0.2em 0.2em 0.2em 0.2em;margin:0.1em 0.1em 0.1em; 0.1em;",
	class: 'btn btn-default' %>
  </b>
</p>

<p>
  <strong>Sentiment:</strong>
  <%= @letter.sentiment %>
</p>

<p>
  <strong>Body:</strong>
  <b><u><%= link_to 'Edit Letter', edit_letter_path(@letter) %></u></b>
</p>

<p>
  <%= @letter.body %>
</p>

<p>
  <b>Letter</b>:<br>
  <iframe
    src='/letters/<%= @letter.id %>.pdf' width="100%" height="780"
    style="border:none;"></iframe>    
</p>
    letter_id = $('#letter_id').attr('value');
    referral_org_id = $('#referral_org_id').attr('value')

<span id="letter_id" value="<%= @letter.id %>" style="display:none;"></span>
<span id="referral_org_id"
      value="<%= current_user.organization.id %>"
      style="display:none;"></span>

<% content_for :head do %>
  <%= javascript_import_module_tag "custom/letters" %>
<% end %>

