<li>
  <div class="col-md-10">
    <% letter = Letter.find(post.letter_id) %>
    Category: <strong><%= letter.category %></strong>;
    Policy: <strong><%= letter.policy_or_law %></strong><br>
    Status:<strong><%= post.approval_status %></strong>;
    Communication: 
    <% if post.success %>
       <strong>Sent</strong>
    <% else %>
      <strong>Not Sent</strong>
    <% end %>
    <br>
    <details style="color:black;font-size:1em;">
      <summary style="color:gray;">> Read Text Body</summary>
      <pre style="white-space:pre-wrap;">
	<%= letter.body %>
      </pre>
    </details>
    <br>
  </div>
  <div class="col-md-2" style="text-align:center;">
    <br>
    <% if post.approval_status == "pending" %>
      <%= button_to "Approve", post, method: :put,
	  params: { 'post': { 'approval_status': 'approved' } },
	  class: "btn btn-success", style:"margin-bottom:0.5em" %>
      <%= button_to "decline", post, method: :put,
	  params: { 'post': { 'approval_status': 'declined'  } },
	  class: "btn btn-danger", style:"margin-bottom:0.5em" %>
    <% end %>
    <br>
  </div>
</li>
