<p id="notice"><%= notice %></p>

<p>
  <strong>Address line 1:</strong>
  <%= @post.address_line_1 %>
</p>

<p>
  <strong>Address line 2:</strong>
  <%= @post.address_line_2 %>
</p>

<p>
  <strong>Address city:</strong>
  <%= @post.address_city %>
</p>

<p>
  <strong>Address state:</strong>
  <%= @post.address_state %>
</p>

<p>
  <strong>Address zipcode:</strong>
  <%= @post.address_zipcode %>
</p>

<p>
  <strong>Approval Status:</strong>
  <%= @post.approval_status %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @post.sender_id %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @post.recipient_id %>
</p>

<p>
  <strong>Letter:</strong>
  <%= @post.letter_id %>
</p>

<p>
  <strong>Letter URL:</strong>
  <%= @post.letter_url %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
