<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sender.name %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @sender.zipcode %>
</p>

<p>
  <strong>County:</strong>
  <%= @sender.county %>
</p>

<p>
  <strong>District:</strong>
  <%= @sender.district %>
</p>

<p>
  <strong>State:</strong>
  <%= @sender.state %>
</p>

<p>
  <strong>User:</strong>
  <%= @sender.user_id %>
</p>

<%= link_to 'Edit', edit_sender_path(@sender) %> |
<%= link_to 'Back', senders_path %>
