<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table>
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Description</th>
	  <th>Approvals required</th>
	  <th colspan="3"></th>
	</tr>
      </thead>
      
      <tbody>
	<% @organizations.each do |organization| %>
	  <tr>
            <td><%= organization.name %></td>
            <td><%= organization.description %></td>
            <td><%= organization.approvals_required %></td>
            <td><%= link_to 'Show', organization %></td>
            <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
	    <td><%= link_to 'Delete', organization_path(user),
		    data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></td>
	  </tr>
	<% end %>
      </tbody>
    </table>
    <br>    
    <%= link_to 'New Organization', new_organization_path %>
  </div>
</div>
