
<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organization.description %>
</p>

<p>
  <strong>Approvals required:</strong>
  <%= @organization.approvals_required %>
</p>

<p>
  <strong>Associated Users:</strong><br>
  <% @organization.users.each do |user| %>
    - <%= user.name %>, <%= user.email %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
