<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>
      <%= @organization.name %>
    </h2>
    <h1>
      <% if @organization.logo_link.present? %>
        <%= image_tag @organization.logo_link, class: "splashlogo" %>
      <% end %>
    </h1>
    <h4>
      <% if @organization.description.present? %>      
        <%= @organization.description.html_safe %>
      <% end %>
    </h4>    
  </div>
  <div class="col-md-12">
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>
      <strong>Associated Users:</strong>
      -> <u><b><%= link_to "Invite New User", new_user_path  %></b></u>
      <br>
      <ul>
	<% @organization.users.each do |user| %>
	  <li>
	    <% if user.org_admin %>
	      <b>Org Admin</b> - 
	    <% else %>
	      Org User
	    <% end %>
	    <% if current_user.org_admin or current_user.admin %>
	      <small>
		<%= link_to "Remove User", remove_user_from_org_path(
		    user_id: user.id, id: @organization.id) %>
	      </small><br>
	    <% end %>
	    <%= user.name %>
	    <br><%= user.email %>
	  </li>
	<% end %>
      </ul>
      <br>
    </p>
  </div>
  <div class="col-md-4">    
    <p>
      <center>
	<% if @organization.approvals_required %>
	  <strong>Approval Required to Send Letters</strong>
	<% else %>
	  <strong>Approvals <u>NOT</u> Required to Send Letters</strong>
	<% end %>  
	  <hr>
	  <b><%= link_to "Review Letters", posts_path %></b><br>
	  <b><%= link_to "Review Faxes", faxes_path %></b>
      </center>
    </p>
  </div>  
  <div class="col-md-4">
    <center>
      <strong>
	Affiliate Link<br>
	<%= link_to @affiliate_link, @affiliate_link %> <br><br>
	<% if current_user.org_admin or current_user.admin %>
          <%= link_to 'Edit Organization Settings', edit_organization_path(@organization) %>
	<% end %>
      </strong>
    </center>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr>
    <h2>Statistics</h2>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= column_chart @letters_by_month, title: "Letters Sent by Month",
	xtitle: "Month", ytitle: "Count", stacked: true, height: "425px" %>
    <hr>
    <%= column_chart @letters_by_day,
	title: "Letters Sent by Day", xtitle: "Day", ytitle: "Count",
	stacked: true, height: "425px" %>
    <hr>
    <%= column_chart @letters_by_day_of_week,
	title: "Letters by Day of Week", xtitle: "Day of Week", ytitle: "Count",
	stacked: true, height: "425px" %>
  </div>
  <div class="col-md-6">
    <%= column_chart @letters_by_state, title: "Total Letters Sent by State",
	xtitle: "State", ytitle: "Count", stacked: true, height: "425px" %>
    <hr>
    <%= column_chart @letters_by_target_level,
	title: "Total Letters Sent by Target Level",
	xtitle: "Target Level (Local, State, Federal)",
	ytitle: "Count", stacked: true, height: "425px" %>
    <hr>
    <%= column_chart @letters_by_type,
	title: "Total Letters by Type", xtitle: "Count", ytitle: "Letter Type",
	stacked: true, height: "425px" %>
  </div>
</div>
