<p id="notice"><%= notice %></p>

<h1>Emails</h1>

<table>
  <thead>
    <tr>
      <th>Email address</th>
      <th>Sender</th>
      <th>Recipient</th>
      <th>Letter</th>
      <th>Payment</th>
      <th>Success</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email.email_address %></td>
        <td><%= email.sender_id %></td>
        <td><%= email.recipient_id %></td>
        <td><%= email.letter_id %></td>
        <td><%= email.payment %></td>
        <td><%= email.success %></td>	
        <td><%= link_to 'Show', email %></td>
        <td><%= link_to 'Edit', edit_email_path(email) %></td>
        <td><%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email', new_email_path %>
