<!DOCTYPE html>
<html>
  
  <head>
    <%= favicon_link_tag 'vocalvoters_logos/vocalvoters-favicon-256.png' %>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=" Share thoughts with your government representatives in seconds">    
 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all',
	'data-turbolinks-track': 'reload' %>

    <%= render 'layouts/shim' %>

    <%= wicked_pdf_stylesheet_link_tag "pdf" %>
    
    <%= javascript_importmap_tags %>
        
  </head>

  <body <%= "onload='number_pages'" if request.original_url.include? '.pdf' %>>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>      
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>      
    </div>    
  </body>
  
</html>
